
.title {
  font-size: 40px;
  font-weight: bold;
}

.Link{
  font-size: 17px !important;
  transition: all 0.3s ease !important;
  position: relative;
  display: inline-block !important;
  color:  rgba(0, 0, 0, 0.712) !important;
  text-decoration: none !important;
  padding: 8px 0px;
  margin: 0px 16px;
  text-transform: uppercase;
}
.Link:hover{
  color: black !important;
  cursor: pointer !important;
}
.Link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; 
  height: 2px; 
  background-color: #000;
  transition: width 0.3s ease; 
}

.Link:hover::after {
  width: 100%; 
}
.load{
  opacity: 0;
  transform: scale(0.5); 
  animation: scaleUp 0.6s ease-out forwards;
}
@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.5); 
  }
  100% {
    opacity: 1;
    transform: scale(1); 
  }
}
.langBtn {
  font-weight: 500 !important;
  font-size: 15px !important;
  transition: all 0.7s ease !important;
  padding: 0px 10px !important;
}
