.cardImg {
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.card{
    border-radius: 15px;
    overflow: hidden; 
    width: auto;
    max-width: 500px;
    display: inline-block; 
    background-color: #0f111a;
    padding: 0;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border:  1px solid #2c2f3f;
}
.cardBody{
  position: relative;
  padding: 20px;
}
.cardBody h2 {
  position: relative;
  padding-top: 10px;
}

.cardBody .lineTop {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: white;
}
.cardBody .goTo{
  position: absolute;
  top: 12px;
  left: 95%; 
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
}