.cardImg {
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.card{
    border-radius: 15px;
    overflow: hidden; 
    width: auto;
    max-width: 500px;
    display: inline-block; 
    background-color: #0f111a;
    padding: 0;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border:  1px solid #2c2f3f;
    transition: all 0.4s ease;
}
.cardBody{
  position: relative;
  padding: 20px;
}
.cardBody h2 {
  position: relative;
  padding-top: 10px;
}

.cardBody .lineTop {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: white;
}
.cardBody .goTo{
  position: absolute;
  top: 12px;
  left: 95%; 
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
}
.card:hover{
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px);
  cursor: pointer;
}
.title{
  color: black;
   cursor: pointer;
   transition: all 0.3s ease;
   font-size: 3rem;
   text-transform: uppercase;
 }
 .title:hover{
   color: #0866FF;
   cursor: pointer;
 }
 .cardC{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
 @media (max-width: 932px) {
.cardImg {
  width: 330px;
  height: 230px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
  }
  @media (max-width: 576px) {
    .cardC{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
    .title{
      font-size: 2.5rem;
    }
  }